
<h1 class="text-center" >Available Room Types</h1>

<button (click)="goToDashboard()" class="btn btn-outline-primary">Go to Dashboard</button>
 
<table class="table table-striped">
    <thead class="table-primary">
      <tr >
        <th scope="col">Class</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
       <!-- <th scope="col">Action</th>
        -->
      </tr>
    </thead>
    <tbody>
      <tr   class="table-info">
        <td>King</td>
        <td><img src="assets\images\king.jpg" style="width: 300px;height: 300px;"></td>
        <td>10000</td>
        
      </tr>
      <tr class="table-info">
        <td>Single</td>
        <td><img src="assets\images\single.jpg" style="width: 300px;height: 300px;"></td>
        <td>700</td>
        
      </tr>
      <tr class="table-info">
        <td>Twin</td>
        <td><img src="assets\images\twin.jpg" style="width: 300px;height: 300px;"></td>
        <td>1400</td>
        
      </tr>
      <tr class="table-info">
        <td>Double</td>
        <td><img src="assets\images\double.jpg" style="width: 300px;height: 300px;"></td>
        <td>1500</td>
        
      </tr>

     
      
    </tbody>
  </table>
  
 