
<div class="container">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a routerLink="dashboard" routerLinkActive="active" class="navbar-brand" href="#">Home</a>
        
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a routerLink="customers" routerLinkActive="active" class="nav-link">All Customers</a>
              </li>
              <li class="nav-item">
                <a routerLink="addCustomer" routerLinkActive="active" class="nav-link">Add Customer</a>
               </li>
               <li class="nav-item">
                <a routerLink="bookings" routerLinkActive="active" class="nav-link">All Bookings</a>
               </li>
               <li class="nav-item">
                <a routerLink="roomtype" routerLinkActive="active" class="nav-link">Room Types</a>
               </li>
               <li class="nav-item" >
                <button type="button" (click)="logout()" class="btn btn-outline-primary">Logout</button>
               </li>
             </ul>
             
          
          </div>
    </nav>
    </div>
        <h1 class="text-center" >Welcome To Hotel</h1>
        
        
    
    <img src="assets\images\dashboard2.jpg" style="width:100%;height: 600px;" alt="HotelHotel" class="img-responsive">
    